{% extends "layout.html" %}

{% block body %}

    <div class="col">
        <form action="/compare" enctype="multipart/form-data" method="post">


            <!-- TODO
            Implement templates/index.html in such a way that it contains an HTML form via which a user can submit:

                a file called file1

                a file called file2

                a value of lines, sentences, or substrings for an input called algorithm

                a number called length

            You’re welcome to look at the HTML of the staff’s solution as needed, but do try to figure out the right syntax on your own first,
            as via https://www.google.com/search?q=html+forms!-->

        </form>
    </div>

{% endblock %}
