{% extends "layout.html" %}

{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/components/alerts/ -->
    <h1>Clients</h1>
    <table class = " table table-dark">
        <thead>
            <tr>
                <th>Client</th>
                <th>Email</th>
                <th>Position</th>
                <th>Qaulity</th>
                <th>Practice</th>
            </tr>
        </thead>
        <tbody>

        {% for client in clients %}

        <tr>

            <td>{{ client[0] }} </td>
            <td>{{ client[1] }} </td>
            <td>{{ client[2] }} </td>
            <td>{{ client[3] }} </td>
            <td>{{ client[4] }} </td>

        </tr>

        {% endfor %}

        </tbody>
    </table>


{% endblock %}
